<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda commodi doloribus esse incidunt laudantium necessitatibus sunt vero? Accusamus amet asperiores error facere fugiat iure natus perspiciatis qui sapiente, tempora? Ab accusantium architecto asperiores aut eveniet explicabo facilis fuga id impedit natus, neque nesciunt nihil odio officiis, optio pariatur rem ullam?
</body>
</html>